.outlined {
  overflow: hidden;
}

.outlined output.outlined {
  margin: calc(-.5rem - 1px);
  text-align: center;
}

.grid-32 {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.saved-animal {
  max-height: 112px;
  width: -webkit-fill-available;
  overflow: hidden;
}

.resource-item {
  padding: 0 0 0 .5rem;
  line-height: 2;
}

.resource-item .icon-container {
  max-height: 32px;
  overflow: hidden;
  background: white;
  border-radius: 50%;
}

.resource-item img {
  flex: 0 0 0;
  max-height: 32px;
  text-align: center;
}

.resource-item label {
  flex: 1 1 50%;
}

app-meter {
  height: 100%;
  flex: 1 1 50%;
}

.game-screen {
  display: flex;
  gap: 1rem;
}

.game-screen > .side-panel {
  flex: 1 1 30%;
  min-width: 22rem;
}

.game-screen > main {
  flex: 1 1 70%;
}

app-dialog {
  max-width: 500px;
}

.dialog-saved-animal {
  position: absolute;
  max-height: 60%;
  bottom: 0;
  right: -1rem;
}

#scene {
  position: absolute;
}
