<div class="game-screen">
  <aside class="side-panel flex-column gap-1">
    <app-logo></app-logo>
    <div class="card">
      <h3>Statistics:</h3>
      <div class="stats flex-half gap-1">
        <div class="outlined flex-auto">
          <label>Points</label>
          <output class="outlined">{{ game?.score }}</output>
        </div>
        <div class="outlined flex-auto">
          <label>Level</label>
          <output class="outlined">{{ game?.level }}</output>
        </div>
      </div>
    </div>
    <div class="card grid-32 gap-1">
      <div class="flex-column">
        <h3>Save the panda</h3>
        <div class="outlined p-0">
          <app-meter [value]="progress" [max]="100"></app-meter>
        </div>
      </div>
      <div class="saved-animal">
        <img src="save-the-panda.png" alt="Panda" class="saved-animal">
      </div>
    </div>
    <div class="card">
      <h3>Resources:</h3>
      <div class="resource-list flex-column gap-05">
        @for (resource of resources; track resource) {
          <div class="outlined flex-center resource-item">
            <label>{{ resource.name }}</label>
            <app-meter [value]="resource.level" [max]="100"></app-meter>
          </div>
        }
      </div>
    </div>
  </aside>
  <main>
    <div id="scene" #scene></div>
    @if (dialog) {
      <app-dialog [title]="dialog.title">
        @if (dialog.text) {
          <p>{{ dialog.text }}</p>
        }
        @if (dialog.choices) {
          <div class="quiz-choices">
            @for (choice of dialog.choices; track choice) {
              <button (click)="selectedChoice = choice" [class.selected]="selectedChoice == choice">
                <h3>{{ choice.title }}</h3>{{ choice.text }}
              </button>
            }
          </div>
        }
        @if (dialog.withMap) {
          <div class="relative">
            <img src="dialog-map.png" role="presentation">
            <img src="dialog-koala.png" role="presentation" class="dialog-saved-animal">
          </div>
        }
        @if (dialog?.actions) {
          <app-dialog-actions>
            @for (action of dialog?.actions; track action) {
              <button class="primary" (click)="doAction(action)">{{ action.caption }}</button>
            }
          </app-dialog-actions>
        }
        @if (dialog.choices) {
          <app-dialog-actions>
            <button class="primary" (click)="answerQuiz()">Do it!</button>
          </app-dialog-actions>
        }
      </app-dialog>
    }
  </main>
</div>
